@model Multiservicios.Models.ViewModels.TicketsItemViewModel
@using Multiservicios.Extensions
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crear Ticket</h1>

<br />
<br />
<form method="post" asp-action="Create">
    <div class="border backgroundWhite">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="form-group row">
            <div class="col-4">
                <label  class="col-form-label">Tipo Activo</label>
            </div>

            <div class="col-4">
                <label  class="col-form-label">No. Serie</label>
            </div>

            <div class="col-4">
                <label  class="col-form-label">Tipo Solicitud</label>
            </div>

        </div>

        <div class="form-group row">
            <div class="col-4">
                <select id="ddlCategorialist" asp-for="Tickets.ID_ACTIVO" asp-items="Model.Activo.ToSelectListITem(Model.Tickets.ID_ACTIVO)" class="form-control"></select>
            </div>

            <div class="col-4">
                <input asp-for="Tickets.NO_SERIE" class="form-control" />
            </div>
            <span asp-validation-for="Tickets.NO_SERIE" class="text-danger"></span>

            <div class="col-4">
                <select asp-for="Tickets.ID_TIPO_SOLICITUD" asp-items="Model.TipoSolicitud.ToSelectListITem(Model.Tickets.ID_TIPO_SOLICITUD)" class="form-control"></select>
            </div>

        </div>


        <div class="form-group row">
            <!--div class="col-4">
                <label asp-for="Tickets.ID_ACTIVO" class="col-form-label"></label>
            </div-->

            <div class="col-4">
                <label  class="col-form-label">Tipo Servicio</label>
            </div>


        </div>

        <div class="form-group row">
            <!--div class="col-4">
        <div class="form-group">
        <select id="ddlCategorialist" asp-for="Tickets.ID_ACTIVO" asp-items="Model.Activo.ToSelectListITem(Model.Tickets.ID_ACTIVO)" class="form-control"></select>
        </div>
    </div-->
            <div class="col-4">
                <select asp-for="Tickets.TIPO_SERVICIO" id="TIPO_SERVICIO" name="TIPO_SERVICIOSelect" class="form-control">
                    <option value="" selected>Eliga una opcion</option>
                    <option value="Mantenimiento">Mantenimiento</option>
                    <option value="Servicio">Servicio</option>
                </select>

                <span asp-validation-for="Tickets.TIPO_SERVICIO" class="text-danger"></span>

            </div>

        </div>

            <div class="form-group row">
                <div class="col-4">
                    <label class="col-form-label">Descripcion</label>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-12">
                    @Html.TextAreaFor(m => m.Tickets.DESCRIPCION)
                </div>
                <span asp-validation-for="Tickets.DESCRIPCION" class="text-danger"></span>
            </div>

            <br>

            <div class="form-group row">
                <div class="col-12">
                    <partial name="_CreateBackToListButton" />
                </div>
            </div>

        </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: "lists",
            menubar: 'file edit format'
        });
    </script>
}
