@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-danger">Usuario Bloqueado</h1>
    <p class="text-danger">Esta Cuenta ha sido bloqueada, pruebe mas tarde o comuniquese con su administrador.</p>
</header>
